# Unique Skills Count (2.11.3) - Problem

Problem Statement:
Calculate the number of unique skills required for each job_title_short.

Explode the job_skills column

Group by job_title_short

Count unique skills per title (i.e., num_unique_skills)

Rename the result column to num_unique_skills and show the first 5 rows

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
import ast

# Loading Datadataset 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

c:\Users\Pedro\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [12]:
df_explode = df.explode('job_skills')
df_explode_group = df_explode.groupby('job_title_short')['job_skills']
df_unique = df_explode_group.nunique().reset_index()
df_unique.columns = ['job_title_short', 'no_unique_skills']
df_unique.head()

    job_title_short  no_unique_skills
0  Business Analyst               223
1    Cloud Engineer               213
2      Data Analyst               235
3     Data Engineer               239
4    Data Scientist               237