# Filter by Date (2.1.4) - Problem

Problem Statement: Select and display the job_title, job_location, and job_posted_date columns for rows where the job_posted_date is after '2023-05-01' using the loc method.

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datadataset 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Pedro\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [27]:
df_title_loc_date = df[df['job_posted_date'] >= pd.Timestamp('2023-5-1')]

df_filter = df_title_loc_date.loc[:, ['job_title', 'job_location', 'job_posted_date']]

print(df_filter)

                                                job_title  \
0       Senior Clinical Data Engineer / Principal Clin...
2       Data Engineer/Scientist/Analyst, Mid or Senior...
3       LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...
4                                  Data Engineer- Sr Jobs
5                                       GCP Data Engineer
...                                                   ...
785694                                      Data Engineer
785696                          Senior Analytics Engineer
785698      Data Engineer, Gerencia Business Intelligence
785701      Data Engineer, Gerencia Business Intelligence
785706                               Junior Data Engineer

                     job_location     job_posted_date
0                   Watertown, CT 2023-06-16 13:44:15
2                 Berlin, Germany 2023-10-10 13:14:55
3                 San Antonio, TX 2023-07-04 13:01:41
4                  Washington, DC 2023-08-07 14:29:36
5                        Anywhere 2023-11-07 14:01:59
...                           ...                 ...
785694              Graz, Austria 2023-05-07 07:07:37
785696  Colombia, Huila, Colombia 2023-10-23 06:31:25
785698          Las Condes, Chile 2023-08-09 06:32:00
785701            Santiago, Chile 2023-08-09 06:31:57
785706                 Lima, Peru 2023-11-08 06:34:48

[502338 rows x 3 columns]

In [25]:
#Luke's solution

df.loc[df['job_posted_date'] > '2023-05-01', ['job_title', 'job_location', 'job_posted_date']]

,job_title,job_location,job_posted_date
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",2023-06-16 13:44:15
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",2023-10-10 13:14:55
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",2023-07-04 13:01:41
4,Data Engineer- Sr Jobs,"Washington, DC",2023-08-07 14:29:36
5,GCP Data Engineer,Anywhere,2023-11-07 14:01:59
...,...,...,...
785694,Data Engineer,"Graz, Austria",2023-05-07 07:07:37
785696,Senior Analytics Engineer,"Colombia, Huila, Colombia",2023-10-23 06:31:25
785698,"Data Engineer, Gerencia Business Intelligence","Las Condes, Chile",2023-08-09 06:32:00
785701,"Data Engineer, Gerencia Business Intelligence","Santiago, Chile",2023-08-09 06:31:57
785706,Junior Data Engineer,"Lima, Peru",2023-11-08 06:34:48