Merge Company Salary and Remote Count (2.7.3) - Problem

Problem Statement: 
Create a DataFrame df_company_salary that calculates the average yearly salary for each company.
Then, create another DataFrame df_company_remote that counts the number of remote job postings for each company. Name this count column remote_count.
Merge these two DataFrames on the company_name column using an inner join and display the first 5 rows of the resulting DataFrame.

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Datadataset 
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Pedro\anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
df_company_salary = df.groupby('company_name')['salary_year_avg'].mean().reset_index()

df_company_remote = df[df['job_work_from_home'] == True].groupby('company_name').size().reset_index(name='remote_count')

merged_df = pd.merge(df_company_salary, df_company_remote, on='company_name', how='inner')

merged_df.head()

                                company_name  salary_year_avg  remote_count
0                                #EqualsTrue              NaN             4
1                              #TeamGoHealth              NaN             1
2                    #twiceasnice Recruiting          77750.0             1
3                                      &Work              NaN             1
4  (AEG) Application Engineering Group, Inc.              NaN             1